@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rancho&display=swap');

@layer utilities {
    .font-rancho {
        font-family: 'Rancho', cursive;
    }
    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }
}


/* Default Light Theme */ 
body.light-theme { 
    /* background-color: white;  */
    color: black; 
    } 
    /* Dark Mode */ 
    body.dark-theme { 
    background-color: black; 
    color: white; 
    }
